#header {
    font-family: 'Arial Black', 'Arial Bold', Gadget, sans-serif;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px;
}

#section {
    font-family: Georgia,"Times New Roman",Times,serif;
    float: left;
    padding: 5px; 
}

#interactive-update {
    width: 250px;
    float: left;
    background-color: LightGray;
    text-align: center;
    padding: 2px;
    border-radius: 5px;
}

#footer {
    background-color: black;
    color: white;
    clear: both;
    text-align: center;
    padding: 5px; 
}

svg {
	fill: none;
	stroke: black;
}

.tooltip {
	position: absolute;
	background: black;
	padding: 4px;
	font: 12px sans-serif;
	color: white;
	opacity: 0.9;
	border: 0px;
	border-radius: 4px;
	visibility: hidden;
}

#statename {

}

#statevalue {

}

#interactive-span {

}

.title-logo {
    margin-top: 20px;
}